<!DOCTYPE html>
<html ng-app="roachPatrol">
<head>
    <meta charset="utf-8">
    <title>PDX Clean Eats</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="app/lib/jquery.js"></script>
	<script src="app/lib/bootstrap.js"></script>
	<script src="app/lib/angular.min.js"></script>
	<script src="app/lib/angular-ui-router.min.js"></script>
	<script src="app/lib/app.js"></script>
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
 	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body ng-controller="restaurantController" data-ng-init="init()">
	<div class="sidebarMenu">
		<div class="container-fluid">
			<div class="row">
				<button type="button" id="menuButton" onclick="showMenu()" class="btn btn-default pull-left menuBtn" aria-label="menu">
					<span class="fa fa-bars" aria-hidden="true"></span>
				</button>
				<h2 class="pull-left">PDX Clean Eats</h2>
				<div class="gpsBtn pull-right">
					<button type="button" id="myPosition" class="btn btn-default" onclick="showMenu()" ng-click="searchMyLatLng(distanceSlider)" aria-label="My Position">
						<span class="fa fa-location-arrow" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div class="verticalSpace">
				<label>Search by resturant name or key word:</label>
				<div class="input-group">
					<input type="text" ng-model="searchKeyword" class="form-control" placeholder="eg Pizza or Flying Pie" required>
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="searchByName(searchKeyword,distanceSlider)" onclick="showMenu()" type="button">
							<span class="fa fa-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
			<hr>
			<div class="verticalSpace">
				<label>Search by</label>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				Neighborhood <span class="caret"></span>
  					</button>
					<ul class="dropdown-menu">
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('N',distanceSlider)">N - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('NE',distanceSlider)">NE - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('SE',distanceSlider)">SE - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('SW',distanceSlider)">SW - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('NW',distanceSlider)">NW - Portland</a></li>
					</ul>
				</div>
			</div>
			<div class="verticalSpace">
				Search radius: <input type="range" ng-model="distanceSlider" min="0" max="5" step="0.1" value="1" id="fader">
				{{distanceSlider}} miles
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<button type="button" id="menuButton" onclick="showMenu()" class="btn btn-default pull-left menuBtn" aria-label="menu">
			<span class="fa fa-bars" aria-hidden="true"></span>
		</button>
		<h2 class="pull-left">PDX Clean Eats</h2>
		<div class="pull-right">
			<ul class="nav nav-pills pull-right displayBtn">
				<li ui-sref-active="active"><a ui-sref="list"><span class="fa fa-list-ul" aria-hidden="true"></span></a></li>
				<li ui-sref-active="active"><a ui-sref="map"><span class="fa fa-map" aria-hidden="true"></a></li>
			</ul>
		</div>
	</nav>

	<div class="container mainView">
		<div ui-view=""></div>
	</div>
	<script type="text/javascript">
	function showMenu() {
		$('.sidebarMenu').toggleClass('slideout');
	};

	$('.violationBtn').click(function() {
		console.log("HERE");
		console.log($(this));
		$(this).find('.inspectionViolation').toggleClass('slideDown');
	});
	</script>
</body>