<!DOCTYPE html>
<html ng-app="roachPatrol">
<head>
    <meta charset="utf-8">
    <title>Roach Patrol</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script src="app/lib/jquery.js"></script>
	<script src="app/lib/bootstrap.js"></script>
	<script src="app/lib/angular.min.js"></script>
	<script src="app/lib/app.js"></script>
	<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.css' type='text/css' media='all' />
 	<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.7.1/loading-bar.min.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
</head>
<body ng-controller="restaurantController">
	<div class="sidebarMenu">
		<div class="container-fluid">
			<div class="row">
				<button type="button" id="menuButton" onclick="showMenu()" class="btn btn-default pull-left menuBtn" aria-label="menu">
					<span class="fa fa-bars" aria-hidden="true"></span>
				</button>
				<h2 class="pull-left">PDX Clean Eats</h2>
				<div class="gpsBtn pull-right">
					<button type="button" id="myPosition" class="btn btn-default" onclick="showMenu()" ng-click="searchMyLatLng()" aria-label="My Position">
						<span class="fa fa-location-arrow" aria-hidden="true"></span>
					</button>
				</div>
			</div>
			<div class="verticalSpace">
				<label>Search by resturant name or key word:</label>
				<div class="input-group">
					<input type="text" ng-model="searchKeyword" class="form-control" placeholder="eg Pizza or Flying Pie" required>
					<span class="input-group-btn">
						<button class="btn btn-primary" ng-click="searchByName(searchKeyword)" onclick="showMenu()" type="button">
							<span class="fa fa-search" aria-hidden="true"></span>
						</button>
					</span>
				</div>
			</div>
			<div class="verticalSpace">
				Distance: <input type="range" ng-model="distanceSlider" min="0" max="5" step="0.1" value="1" id="fader">
			</div>
			<div class="verticalSpace">
				<label>Search by</label>
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    				Neighborhood <span class="caret"></span>
  					</button>
					<ul class="dropdown-menu">
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('N')">N - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('NE')">NE - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('SE')">SE - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('SW')">SW - Portland</a></li>
						<li><a href="#" onclick="showMenu()" ng-click="searchByArea('NW')">NW - Portland</a></li>
					</ul>
				</div>
			</div>
			<div class="verticalSpace">
				Distance: <input type="range" ng-model="distanceSlider" min="0" max="5" step="0.1" value="1" id="fader">
				{{distanceSlider}} miles
			</div>
		</div>
	</div>
	<nav class="navbar navbar-default navbar-fixed-top">
		<button type="button" id="menuButton" onclick="showMenu()" class="btn btn-default pull-left menuBtn" aria-label="menu">
			<span class="fa fa-bars" aria-hidden="true"></span>
		</button>
		<h2>PDX Clean Eats</h2>
	</nav>

	<div class="container mainView">
		<div ng-show="loadingAni" class="loading"></div>
		<div ng-show="noResults" class="alert alert-danger error" role="alert">
				<h2>No results. Please adjust your search.</h2>
		</div>
		<label ng-show="complete">Search these results: <input ng-model="searchText" placeholder="Name or street"></label>
		<div class="list-group-item" ng-repeat="restaurant in restaurants | filter:searchText | orderBy:'name'">
			<h3>{{restaurant.name}}</h3>
			<p>{{restaurant.address.street}}, {{restaurant.address.city}}</p>

			<div class="list-group">
				<a href="{{'#' + inspections.record_num}}" class="list-group-item violationBtn" ng-click="getInspection(inspections.record_num)" ng-repeat="inspections in restaurant.inspection_number">
					<div class="inspection-container container-fluid">
						<div class="row">
							<div class="col-xs-12 col-sm-9">
								Inspection#: {{inspections.record_num}} - Score: {{inspections.score}}
								<b class="grade" ng-class="giveColor(inspections.score)">{{showGrade(inspections.score)}}</b>
							</div>
							<em class="inspection-date col-xs-12 col-sm-3">{{inspections.date}}</em>
						</div>
						<div id="{{inspections.record_num}}" ng-class="inspectionViolation" ng-repeat="records in inspectionsRecord[inspections.record_num]">
							<hr>
							<b>Violations:</b>
							<div class="panel panel-default">
		  						<div class="panel-body">
		    						<div class="alert alert-danger" role="alert" ng-repeat="violations in records.violations | filter:filterEmpty">{{violations.violation_comments}}</div>
		  						</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	function showMenu() {
		$('.sidebarMenu').toggleClass('slideout');
	};

	$('.violationBtn').click(function() {
		console.log("HERE");
		console.log($(this));
		$(this).find('.inspectionViolation').toggleClass('slideDown');
	});
	</script>
</body>